<% @shops.each do |shop| %>
  <p><%= shop.name %></p>
  <p><%= shop.description %></p>
  <p><%= shop.opening_hours %></p>
  <p><%= shop.address %></p>
  <p><%= shop.latitude %></p>
  <p><%= shop.longitude %></p>
<% end %>
