<div class="navbar navbar-expand-sm navbar-light navbar-lepanierdefendu my-3">
  <div class="container-fluid">
    <%= link_to histories_path, class: "nav-menu" do %>
      <%= image_tag image_path("nav-menu.png") %>
    <% end %>
    <%= link_to "/histories/new", class: "navbar-icon-button" do %>
      <%= image_tag image_path("icon_button.png"), width: 48, height: 48 %>
    <% end %>
    <%= link_to score_path, class: "navbar-brand" do %>
      <%= image_tag image_path("compteur.png") %>
    <% end %>
  </div>
</div>
