<h1>Pages#hometestview</h1>

<%= form_with model: @user, url: "/update_location", method: "post", local: true do |f| %>
  <div class="form-group">
    <%= f.label :latitude %>
    <%= f.text_field :latitude, class: "form-control", readonly: true %>
  </div>

  <div class="form-group">
    <%= f.label :longitude %>
    <%= f.text_field :longitude, class: "form-control", readonly: true %>
  </div>

  <button type="button" id="geolocation-button" class="btn btn-primary">Get My Location</button>
  <%= f.submit "Save Location", class: "btn btn-success" %>
<% end %>

<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    document.getElementById('geolocation-button').addEventListener('click', function () {
      // Use JavaScript to get user's geolocation
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function (position) {
          document.getElementById('user_latitude').value = position.coords.latitude;
          document.getElementById('user_longitude').value = position.coords.longitude;
        });
      } else {
        console.error("Geolocation is not supported by this browser.");
      }
    });
  });
</script>
