<h1>Pages#hometestview</h1>

<ul>
  <li><%= link_to "Nouveau scan", new_history_path %></li>
</ul>
<%= form_with model: @user, url: "/update_location", method: "post", local: true do |f| %>
  <div class="form-group">
    <%= f.label :latitude %>
    <%= f.text_field :latitude, class: "form-control", readonly: true %>
  </div>

  <div class="form-group">
    <%= f.label :longitude %>
    <%= f.text_field :longitude, class: "form-control", readonly: true %>
  </div>

<button type="button" class="btn btn-primary" data-controller="geolocation" data-action="click->geolocation#getGeolocation">Get My Location</button>
  <%= f.submit "Save Location", class: "btn btn-success" %>
<% end %>

<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
