<div class="container-product-alternative d-flex flex-column bgblack px-3 pt-3 pb-5 mt-4">

  <div class="logo-home d-flex align-items-center justify-content-center">
  </div>

  <div class="product-alternative bgblack d-grid gap-2 col-6 mx-auto">
    <div class="product-container rounded-large px-4 py-3" style="opacity: 0.8; font-weight: bolder;">

      <%= image_tag "pictos/eco_score_e.svg", alt: "Ecoscore", style: "width: 15%", class: "picto-icon"%>
      <h3 class="justify-content-end"> <%= @product_alternative.product.name %></h3>
      <p class="justify-content-end mb-0"><%= @product_alternative.shops.first.nil? ? 'Franprix' : @product_alternative.shops.first.name %></p>
    </div>
  </div>

  <div class="product-alternative-details bgblack flex-grow-1 my-4">
    <ul class="nav nav-tabs nav-show rounded-4 mb-3" id="myTab" role="tablist", style="list-style-type: none">
      <li class="nav-item w-50" role="presentation">
        <button class="nav-link w-100 rounded-4 active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Santé</button>
      </li>
      <li class="nav-item w-50" role="presentation">
        <button class="nav-link w-100 rounded-4" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Éco-score</button>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
        <ul class="show-elements">
          <div class="accordion accordion-flush rounded-4" id="accordionFlushExample">
            <% @product_alternative.health["pesticides"].each_with_index do |pesticide, index| %>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne<%=index%>" aria-expanded="false" aria-controls="flush-collapseOne<%=index%>">
                  <%= image_tag @pesticides_icons[pesticide], alt: "#{pesticide} Icon", style: "width: 20px; height: 20px;" %>
                  <span class="icon-text-spacing"><%= pesticide %></span>
                  </button>
                </h2>
                <div id="flush-collapseOne<%=index%>" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body"><%= @alternatives.first.health["pesticide_effects"][index] %></div>
                </div>
              </div>
            <% end %>
          </div>
        </ul>
      </div>
    </div>
    <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
      <ul class="show-elements">
        <div class="accordion accordion-flush" id="environmentAccordion">
          <% @eco_score_element_details.each_with_index do |element, index| %>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#environmentCollapse<%=index%>" aria-expanded="false" aria-controls="environmentCollapse<%=index%>">
                  <%= image_tag @eco_score_element_icons[element], alt: "#{element} Icon", style: "width: 20px; height: 20px;" %>
                  <span class="icon-text-spacing"><%= element %></span>
                </button>
              </h2>

              <div id="environmentCollapse<%=index%>" class="accordion-collapse collapse" data-bs-parent="#environmentAccordion">
                <div class="accordion-body"><%= @eco_score_element_effect[element] %></div>
              </div>
            </div>
          <% end %>
        </div>
      </ul>
    </div>
    <div class="row">
      <div class="col-12">
        <button id="alternative-button" class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">Voir les alternatives</button>


          <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel">

            <div type="button"  class="offcanvas-close" data-bs-dismiss="offcanvas" aria-label="Close">
              <i class="fa-solid fa-xmark"></i>
            </div>
            <div class="offcanvas-header d-flex justify-content-center">
              <h5 class="offcanvas-title" id="offcanvasBottomLabel"::before>Alternatives</h5>
            </div>

            <div class="rounded-large mx-3 px-4 py-3" style="opacity: 0.8; font-weight: bolder;">
              <% @alternatives.each do |alt| %>
                  <div class="card-product">
                    <%= image_tag "product_alter_bad_carot.png", alt: "Product alternative Carrot"%>
                    <%= image_tag "pictos/picto_a.svg", alt: "Ecoscore", style: "width: 14%", class: "picto-icon-alternative"%>
                    <div class="card-product-infos">
                      <%= alt.name %>
                      <p><strong></strong></p>
                    </div>
                  </div>
                </div>
              <% end %>

            <div class="rounded-large mx-3 px-4 py-3" style="opacity: 0.8; font-weight: bolder;">
              <% @alternatives.each do |alt| %>
                  <div class="card-product">
                    <%= image_tag "product_alter_bad_carot.png", alt: "Product alternative Carrot"%>
                    <%= image_tag "pictos/picto_a.svg", alt: "Ecoscore", style: "width: 14%", class: "picto-icon-alternative"%>
                    <div class="card-product-infos">
                      <%= alt.name %>
                      <p><strong><%=  %></strong></p>
                    </div>
                  </div>
                </div>
              <% end %>

            <div class="rounded-large mx-3 px-4 py-3"style="opacity: 0.8; font-weight: bolder;">
              <% @alternatives.each do |alt| %>
                  <div class="card-product">
                    <%= image_tag "product_alter_bad_carot.png", alt: "Product alternative Carrot"%>
                    <%= image_tag "pictos/picto_b.svg", alt: "Ecoscore", style: "width: 14%", class: "picto-icon-alternative"%>
                    <div class="card-product-infos">
                      <%= alt.name %>
                      <p><strong></strong></p>
                    </div>
                  </div>
                </div>
              <% end %>
              <%= link_to product_alternative_shops_path(@product_alternative), id: "shop-button", class: " btn btn-alternative btn-success btn-lg-light" do %>
                Afficher les magasins
              <% end %>
          </div>
        </div>
    </div>
</div>
